/*Global===========================================================================================================*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0%;
    box-sizing: border-box; 
    user-select: none;
    
}


body::after{
    background: linear-gradient(160deg, #252525, #6930c4 ,#845ec2, #db6bbf) no-repeat;
    background-size: 300% 300%;
    clip-path: circle(30% at left 70%);
}

html{
    font-size: 65%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
/*Header===========================================================================================================*/
h2{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #292828;
    margin: 2rem 0rem 2.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow:  0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    cursor: default;
}
/*Containers======================================================================================================*/
.main_div{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(160deg, #252525, #6930c4 ,#845ec2, #db6bbf , #252525) no-repeat;
    background-size: 300% 300%;
    animation: colors 8s ease infinite;
 
    
}

.music_container{
    position: relative;
    background-color: rgba(255, 255,255,0.4);
    width: 35rem;
    height: 55rem;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem  rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    text-align: center;
    transform: translateY(25px);
    transition: 0.4s;
}

.music_container:hover{
    transform: translateY(0px);

}


.img_container{
    width: 25rem;
    height: 25rem;
    
    margin: auto;
    margin-bottom: 4rem;
    
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow:  0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
    
    
}
/*Buttons==========================================================================================================*/

.music_controls{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    transform: translateY(10px);
    margin-left: 2.5rem;
    opacity: 0;
    transition: 0.6s;
    
}

.music_controls:hover{
    transform: translateY(0px);
    opacity: 1;
    
}

.buttons{
    
    margin-left: 1rem;
    width: 50px;
    height: 50px;  
  
}

.buttons:hover{
    cursor: pointer;
}

/*Animation========================================================================================================*/
@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to { transform: rotate(360deg);}
}

